
@page {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", Times, serif;
}

.container {
    padding: 0px 15px;
}

p {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-italic {
    font-style: italic;
}

.text-rede {
    color: #e95e5e;
}

.text-greene {
    color: #03b115;
}

.logo-denso {
    margin-left: 9px;
}

#background {
    position: absolute;
    z-index: 0;
    display: block;
    min-height: 50%;
    min-width: 50%;
}

#content {
    position: absolute;
    z-index: 1;
}

#bg-wt {
    margin-top: 135px;
    margin-left: 80px;
    width: 600px;
    height: 600px;
}

#head {
    padding: 10px 0px 10px 0px;
}

#left-head {
    width: 20%;
}

#center-head {
    width: 40%;
}

#center-head #ch-one {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
}

#center-head #ch-two {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    color: #0ca1c2;
}

#center-head #ch-three {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

#right-head {
    width: 40%;
    text-align: right !important;
}

#rh-one {
    color: #0ca1c2;
    text-transform: uppercase;
    font-weight: bold;
}

#rh-five {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

#line-neck {
    background-color: #0ca1c2;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
}

table.tb-note {
    border-collapse: collapse;
    width: 100%;
    border: solid 3px #0ca1c2;
}

tr.br-topn td {
    border-right: solid 3px #0ca1c2;
}

#n-three {
    width: 190px;
    background-color: #e95e5e;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0px 0px 10px;
}

#n-three-one {
    margin: 8px 10px 0px 00px;
    float: right;
}

#warning {
    margin-top: 10px;
    margin-bottom: 5px;
}

#warning-one {
    text-align: center !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #e95e5e;
    padding: 6px 0px;
}


table.tb-rc {
    border-collapse: collapse;
    font-size: 15px;
}

.tb-rc th {
    padding: 3px 10px;
    border: solid 3px #0ca1c2;
}

.bod-rc {
    padding: 0px 0px 0px 15px;
    border: solid 3px #0ca1c2;
}

.bodl-rc {
    padding: 0px 0px 0px 15px;
    border: solid 3px #0ca1c2;
    border-left: none;
}

.bodr-rc {
    width: 20px;
    padding: 0px 0px 0px 15px;
    border: solid 3px #0ca1c2;
    border-right: none;
}

.bodl-rc {
    padding: 0px 0px 0px 15px;
    border: solid 3px #0ca1c2;
    border-left: none;
}

.nobodl-rc {
    border-left: none;
}

tr.nobod-rc td {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#ic-one {
    text-align: center !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    padding: 5px 0px;
    background-color: #0ca1c2;
    border-radius: 10px;
    width: 50%;
}

.ic-mt {
    margin-top: 20px;
}

.ic-three {
    width: 70%;
}

.ic-b {
    border: 3px solid #0ca1c2;
}

#ict-one {
    margin-left: 120px;
}

#ict-two {
    margin-right: 120px;
}

#head-content {
    padding: 10px 0px 10px 0px;
}

#head-content #left-head{
    width: 60%;
    text-align: left !important;
}

#head-content #left-head #ch-one {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    text-align: left;
    font-family: 'proxima-nova', sans-serif;
}

#head-content #left-head #ch-two {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    color: #0ca1c2;
    text-align: left;
}

#head-content #left-head #ch-three {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

#head-content #right-head {
    width: 40%;
    text-align: right !important;
}

